@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
$ubuntu: 'Ubuntu', sans-serif;
// COLORS
$white: #ffffff;
$blue: #4A00E0;
$violet: #8e2de2;

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ubuntu;
}
body {
  min-height: 100vh;
}
// NAV
.nav {
  position: fixed;
  width: 80px;
  inset: 20px;
  background: linear-gradient($violet, $blue);
  border-radius: 50px;
  overflow: hidden;
  transition: 0.5s;
  &__list {
    position: absolute;
    top: 0;
    left: 10px;
    width: 100%;  
  }
  &__list-item {
    position: relative;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;  
    list-style: none;
    &:hover {
      background-color: $white;
    }
    &:nth-child(1) {
      top: 20px;
      margin-bottom: 40px;
      background: none;
    }
    &:not(:first-child):hover::before {
      content: '';
      position: absolute;
      top: -20px;
      right: 10px;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border-bottom-right-radius: 20px;
      box-shadow: 7.5px 7.5px 0 7.5px $white;
    }
    &:not(:first-child):hover::after {
      content: '';
      position: absolute;
      bottom: -20px;
      right: 10px;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border-top-right-radius: 20px;
      box-shadow: 7.5px -7.5px 0 7.5px $white;
    }
  }
  &__list-item--link {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: $white;  
  }
  &__list-item--link-icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;  
  }
  &__list-item--link-icon ion-icon {
    font-size: 1.75em;
  }
  &__list-item--link-title {
    position: relative;
    display: block;
    height: 60px;
    padding: 0 10px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }
}
// TOGGLE
.toggle {
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: $white;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    background-color: $blue;
    border-radius: 3px;
    transform: translateY(-5px);
    transition: 1s;
  }
  &::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    background-color: $blue;
    border-radius: 3px;
    transform: translateY(5px);
    transition: 1s;
  }
}

.nav.active {
  width: 300px;
  border-radius: 20px;
}
.nav.active .toggle::before {
  transform: translateY(0px) rotate(-405deg);
}
.nav.active .toggle::after {
  transform: translateY(0px) rotate(225deg);
}
.nav__list-item:hover:not(:first-child) a {
  color: $blue;
}